footer{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.footer-div{
    float: left;
    margin-left: 100px;
}

.footer-text{
    color: white;
    font-size: small;
}

.footer-logo{
    font-size: medium;
}

.black{
    background: black;
    min-height: 150px;
}

.grass{
    background-image: url(../../img/grass2.png) ;
    background-size:contain;
    background-color: #347F80;
    background-position: right;
}
